-- Generated with hyprdynamicmonitors freeze.
-- This is a template that you can edit, it is just a starter that pulled your current monitor setup,
-- adjust as needed.
-- Monitors are given arbitrary tags (the "monitor" prefix and the ID coming from hyprland).
-- If you are using tui to edit, leave this at the end of your file (the last monitor config applies)
-- and leave the markers.
-- <<<<< TUI AUTO START
{{- range .MonitorLines }}
{{ . }}
{{- end }}
-- <<<<< TUI AUTO END
